
<div>
  <div class="text-center" ng-if='! userData.token'>
    <br/>
    <br/>
    您好，<a href='#!/wx-login'>请登录</a>
  </div>
  <div class="text-center" ng-if='userData.token'>
    <div class="text-center" ng-if='userData.wxinfo'>
      <br/>
      <br/>
      <img class="img-rounded user-icon-big" ng-src='{{userData.wxinfo.headimgurl}}'/>
      <br/>
      <br/>
      欢迎您，{{userData.wxinfo.nickname}}
      <a href="#" ng-click='logout()'>
      <span ng-if='appData.isWeixinBrowser'>重登录</span>
      <span ng-if='! appData.isWeixinBrowser'>logout</span>
      </a>
      <br/>
    </div>
  </div>
</div>

