body,html{height:100%;-webkit-tap-highlight-color:transparent}
html {
  font-size: 14px !important;
}
body {
  font-family: -apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
  font-size: 14px;
  overflow: auto;
  background-color:#fbf9fe;
  margin-bottom: 0px;/* Margin bottom by footer height */
}

#main-header,#main-footer,#main-container{
  position: absolute;
  width: 100%;
}
#main-container a,
#main-container p,
#main-container span,
#main-container div {
  color:#222;
}
#main-header{
  z-index: 5;
  top: 0;
  height:56px;
  background-color:#f90;
}
#main-header a,
#main-header span,
#main-header div{
  color:#fff;
}

.main-header_wrapper {
  height:56px;
  line-height:56px;
  width: 100%;
  vertical-align: middle;
  color:#fff;
  padding:0 90px 0 40px;
  text-align:center;
}
.main-header_wrapper i{ 
  cursor:pointer;
}

.main-header_title{ 
  font-size:24px;
}

.main-header_left {
  position:relative;
  width:40px; 
  height:100%;
  float:left; 
  margin-left:-40px; 
  text-align:center;
}
.main-header_right {
  position:relative;
  width:80px;
  height:56px;
  line-height:56px;
  float:right;
  margin-right:-80px;
  text-align:center;
}


.main-header_right input.select-dropdown  {
  text-align:center;
  font-size:14px ;
  margin:0 0px 0 0 ;
  height:56px ;
  line-height:56px;
  border:0;
}

.main-header_main{
    float:left;
    width:100% !important;
    color:#fff;
    font-size:16px;
    margin:auto !important;
}

.round-search {
    border-radius: 15px;
    border:1px solid #d80;
    background-color:#fff;
    height:32px;
    line-height:32px;

    margin:11px auto !important; 
    padding:0 36px !important;
    color:#f90;
}
.round-search_icon{
  position:relative;
  width:35px; 
  float:left; 
  color:#f90 !important; 
  margin-left:-35px; 
  text-align:center;
}
.round-search_cancel{
  position:relative;
  width:35px; 
  float:right; 
  color:#f90 !important;
  margin-right:-35px; 
  text-align:center;
}
.round-search input{
    margin:0 0 !important; 
    padding:0 0px !important;
    border:0 !important;
    height:32px !important;
    font-size:14px !important;
    width:100% !important;
    height:56px;
    float:left;
    color:#f90 !important;
}
.round-search input:focus {
    box-shadow: none !important;
}

.dropdown-content li span{
  color:#d80 !important;
}

#main-container{
  height:auto !important;
  top:56px;
  bottom:56px;
  overflow: auto;
  background-color:#eee;
}


#main-footer{
  z-index: 500;
  bottom: 0;
  height:56px;
  border-top:1px solid #ddd;
  background-color:#fff;
}
.main-tabs
{    
  display: table;
  table-layout: fixed;
  cursor:pointer;
  padding-top:5px;
}
.main-tab {
  display: table-cell;
  text-align:center;
}
.main-tab a,
.main-tab span,
.main-tab  i{
  color:#222;
  display:block;
  font-size:16px;
}
.main-tab_active a,
.main-tab_active span,
.main-tab_active i{
  color:#f90;
}
/* --- progress color ------- */
.progress  {
    background-color: #fd2;
}

.progress .determinate,
.progress .indeterminate {
    background-color: #d80;
}
/* --- tab align ------- */
.table-display {
  display: table;
  width:100%;
}
.table-cell{
  display: table-cell;
  text-align:center;
}

/* --- radio color ------- */
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #f90;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #f90;
}
[type="checkbox"]:checked+label:before {
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #f90;
    border-bottom: 2px solid #f90;
}
[type="checkbox"]:checked+label, [type="radio"]:checked+label{
  color:#f90;
}
/* --- button color ---- */
.btn:hover, .btn-large:hover {
    background-color: #fd2;
}
.btn, .btn-large {
    background-color: #f90;
}
#main-container div .btn, 
#main-container div .btn-large {
    color: #fff;
}