
<div>

  <div class="progress" ng-if='srData.searching && !srData.s.data'>
      <div class="indeterminate"></div>
  </div>
  
  
  
  <ul class="collection" ng-if='srData.s.data'>
    <li class="collection-item avatar" ng-repeat='d in srData.s.data'>
      <img src="assets/img/logo-32.png" alt="" class="circle">
      <span class="title">{{d.name}}</span>
      <p>{{d.addr}}<br>
         {{d.tel}}
      </p>
      <a class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
</div>

